<!DOCTYPE html>
<html ng-app="crtApp">
  <head>
    <title>CRT Problems</title>
    <link rel="stylesheet"
    href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <style>
      h1 {
        text-align: center;
      }
      #problem {
        text-align: center;
      }
      .red {
        color: red;
      }
      .green {
        color: green;
      }
    </style>
  </head>
  <body>
  <h1>Chinese Remainder Theorem</h1>
  <div id="problem" ng-controller="ProblemController">
    <span ng-repeat="(prime, value) in equations">
      $$x \equiv {{value}} \pmod{ {{prime}} }$$
    </span>

    <span id="question">Calculate \(x \pmod { {{primesProd}} }\)</span>

    <br/><span ng-class="{red: !correctAnswer, green: correctAnswer}"> 
      {{feedback}} 
    </span>
    <form ng-submit="validateAnswer()">
      <input ng-model="userAnswer"></input>
    </form>

    </br>
    <button type="button" class="btn btn-primary" ng-click="showSoln = !showSoln">
      Show Solution
    </button>
    <button type="button" class="btn btn-primary" ng-click="generateProblem()">
      Generate New Problem
    </button>
    <span ng-show="showSoln">
      $$ {{solution}} $$
    </span>
  </div>

    <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.js">
    </script>
    <script type="text/javascript" src="crt.js"></script>
  </body>
</html>
